.header {
  width: 100vw;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 3rem;
    color: $color-text;

    &:hover {
      color: $color-acccent;
    }
  }

  &__title {
    font-family: 'Nova Flat';
    font-size: 30px;
  }

  &__col-nav {
    text-align: right;
  }
}