$rem-base: 18px;

//$font-family: 'Droid Sans', sans-serif;
$font-family: 'Roboto', sans-serif;
//$font-family: 'Rubik', sans-serif;

$transition-default: .2s ease-out;

$color-text: #3C3C3C;
$color-acccent: mediumseagreen;